In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
import numpy as np

In [3]:
xls = pd.ExcelFile('Resources/Car_Data.xlsx')
#df1 = pd.read_excel(xls, 'Volkswagon')
#df2 = pd.read_excel(xls, 'Toyota')
#df3 = pd.read_excel(xls, 'Porsche')
#df4 = pd.read_excel(xls, 'Mercedes')
#df5 = pd.read_excel(xls, 'Maserati')
#df6 = pd.read_excel(xls, 'Lincoln')
#df7 = pd.read_excel(xls, 'Lexus')
df8 = pd.read_excel(xls, 'Kia')
df9 = pd.read_excel(xls, 'Landrover')
#df10 = pd.read_excel(xls, 'Volkswagon')
df11 = pd.read_excel(xls, 'Honda')
df12 = pd.read_excel(xls, 'Hyundai')
df13 = pd.read_excel(xls, 'Acura')
df14 = pd.read_excel(xls, 'Audi')
df15 = pd.read_excel(xls, 'BMW')

In [26]:
def clean_data(df):
    new_df = df.dropna(how='any')
    new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
    cc_df = new_df.drop(columns=['sold_date'])
    cc_df['condition_grade'] = cc_df['condition_grade'].replace(
    {'SL': 0, 'RG': 20, 'PR': 10, 'EC':50, 'CL':40, 'AV':30})

    return cc_df

In [27]:
clean_df8 = clean_data(df8)
clean_df9 = clean_data(df9)
clean_df11 = clean_data(df11)
clean_df12 = clean_data(df12)
clean_df13 = clean_data(df13)
clean_df14 = clean_data(df14)
clean_df15 = clean_data(df15)
# for df in df_list:
#     clean_data(df)

<ipython-input-26-ecff727c1718>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-26-ecff727c1718>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-26-ecff727c1718>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-26-ecff727c1718>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-26-ecff727c1718>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-26-ecff727c1718>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-26-ecff727c1718>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')

In [28]:
clean_df = df8.dropna(how='any')
clean_df.head()

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,sold_date,seller,sale_price
0,NVAA,2018,BLUE,KIA,FORTE,S,4DSN,4G,A,2919,43,1,2019-06-28-00.00.00.000000,4918692,13800
1,NVAA,2017,PURPLE,KIA,OPTIMA,LX,4DSN,4G,A,20406,41,1,2019-06-28-00.00.00.000000,4918691,13700
2,NVAA,2015,SILVER,KIA,K900,PREMIUM,4DSN,8G,A,32080,40,1,2019-06-28-00.00.00.000000,4918692,19400
3,NVAA,2015,BLACK,KIA,OPTIMA,LX,4DSN,4G,A,29990,38,1,2019-06-28-00.00.00.000000,4918691,11200
4,NVAA,2017,GRAY,KIA,SORENTO AWD 4C,LX,SUV,4G,A,31797,36,2,2019-06-28-00.00.00.000000,4918691,14700

In [29]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71262 entries, 0 to 82980
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   auction_code     71262 non-null  object
 1   car_year         71262 non-null  int64
 2   color            71262 non-null  object
 3   make             71262 non-null  object
 4   model            71262 non-null  object
 5   subseries        71262 non-null  object
 6   body             71262 non-null  object
 7   engine           71262 non-null  object
 8   transmission     71262 non-null  object
 9   mileage          71262 non-null  object
 10  condition_grade  71262 non-null  object
 11  times_run        71262 non-null  int64
 12  sold_date        71262 non-null  object
 13  seller           71262 non-null  object
 14  sale_price       71262 non-null  int64
dtypes: int64(3), object(12)
memory usage: 8.7+ MB

In [30]:
print(f"Duplicate entries: {clean_df8.duplicated().sum()}")
print(f"Duplicate entries: {clean_df9.duplicated().sum()}")
print(f"Duplicate entries: {clean_df11.duplicated().sum()}")
print(f"Duplicate entries: {clean_df12.duplicated().sum()}")
print(f"Duplicate entries: {clean_df13.duplicated().sum()}")
print(f"Duplicate entries: {clean_df14.duplicated().sum()}")
print(f"Duplicate entries: {clean_df15.duplicated().sum()}")

Duplicate entries: 0
Duplicate entries: 1
Duplicate entries: 2
Duplicate entries: 1
Duplicate entries: 0
Duplicate entries: 1
Duplicate entries: 0

In [31]:
no_dups_df9 = clean_df9.drop_duplicates()
print(f"Duplicate entries: {no_dups_df9.duplicated().sum()}")

Duplicate entries: 0

In [32]:
no_dups_df11 = clean_df9.drop_duplicates()
print(f"Duplicate entries: {no_dups_df11.duplicated().sum()}")

Duplicate entries: 0

In [33]:
no_dups_df12 = clean_df9.drop_duplicates()
print(f"Duplicate entries: {no_dups_df12.duplicated().sum()}")

Duplicate entries: 0

In [34]:
no_dups_df14 = clean_df9.drop_duplicates()
print(f"Duplicate entries: {no_dups_df14.duplicated().sum()}")

Duplicate entries: 0

In [35]:
# write out csv's to output folder
clean_df8.to_csv('Output/KIA.csv')
clean_df9.to_csv('Output/Land_Rover.csv')
clean_df11.to_csv('Output/Honda.csv')
clean_df12.to_csv('Output/Hyundai.csv')
clean_df13.to_csv('Output/Acura.csv')
clean_df14.to_csv('Output/Audi.csv')
clean_df15.to_csv('Output/BMW.csv')

In [36]:
df8_dummies = pd.get_dummies(clean_df8)
df9_dummies = pd.get_dummies(clean_df9)
df11_dummies = pd.get_dummies(clean_df11)
df12_dummies = pd.get_dummies(clean_df12)
df13_dummies = pd.get_dummies(clean_df13)
df14_dummies = pd.get_dummies(clean_df14)
df15_dummies = pd.get_dummies(clean_df15)

In [37]:
# Drop the label to create the X data
X_8 = df8_dummies.drop('sale_price', axis=1)
X_9 = df9_dummies.drop('sale_price', axis=1)
X_11 = df11_dummies.drop('sale_price', axis=1)
X_12 = df12_dummies.drop('sale_price', axis=1)
X_13 = df13_dummies.drop('sale_price', axis=1)
X_14 = df14_dummies.drop('sale_price', axis=1)
X_15 = df15_dummies.drop('sale_price', axis=1)

In [38]:
y_8 = df8_dummies["sale_price"]
y_9 = df9_dummies["sale_price"]
y_11 = df11_dummies["sale_price"]
y_12 = df12_dummies["sale_price"]
y_13 = df13_dummies["sale_price"]
y_14 = df14_dummies["sale_price"]
y_15 = df15_dummies["sale_price"]

In [39]:
X_train8, X_test8, y_train8, y_test8 = train_test_split(X_8, y_8, random_state=1)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X_9, y_9, random_state=1)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X_11, y_11, random_state=1)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X_12, y_12, random_state=1)
X_train5, X_test13, y_train13, y_test13 = train_test_split(X_13, y_13, random_state=1)
X_train6, X_test14, y_train14, y_test14 = train_test_split(X_14, y_14, random_state=1)
X_train7, X_test15, y_train15, y_test15 = train_test_split(X_15, y_15, random_state=1)

In [40]:
# Scaling the X data by using StandardScaler()
scaler1 = StandardScaler().fit(X_train8)
X_train_scaled8 = scaler.transform(X_train8)
X_train_scaled8

TypeError: The DTypes <class 'numpy.dtype[datetime64]'> and <class 'numpy.dtype[int64]'> do not have a common DType. For example they cannot be stored in a single array unless the dtype is `object`.

In [ ]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_shopping[['Age', 'Annual Income', 'Spending Score (1-100)']])