In [1]:
import pandas as pd

In [2]:
xls = pd.ExcelFile('Resources/Car_Data.xlsx')
df1 = pd.read_excel(xls, 'Volkswagon')
df2 = pd.read_excel(xls, 'Toyota')
df3 = pd.read_excel(xls, 'Porsche')
df4 = pd.read_excel(xls, 'Mercedes')
df5 = pd.read_excel(xls, 'Maserati')
df6 = pd.read_excel(xls, 'Lincoln')
df7 = pd.read_excel(xls, 'Lexus')
# df8 = pd.read_excel(xls, 'Kia')
# df9 = pd.read_excel(xls, 'Landrover')
# df10 = pd.read_excel(xls, 'Volkswagon')
# df11 = pd.read_excel(xls, 'Honda')
# df12 = pd.read_excel(xls, 'Hyundai')
# df13 = pd.read_excel(xls, 'Acura')
# df14 = pd.read_excel(xls, 'Audi')
# df15 = pd.read_excel(xls, 'BMW')

In [3]:
df_list = [df1, df2, df3, df4, df5, df6, df7]

In [ ]:
# don't run
appended_data = []
for infile in glob.glob(“data/*.csv”):
    data = pd.read_csv(infile)
    # store DataFrame in list
    appended_data.append(data)
# see pd.concat documentation for more info
appended_data = pd.concat(appended_data)
# write DataFrame to a csv

In [6]:
df1.head()

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,sold_date,seller,sale_price
0,KEYA,2001,GREEN,VOLKSWAGEN,JETTA 4C,GLS,4DSN,4G,A,130502.0,NaN,1.0,2017-01-02-00.00.00.000000,5135512.0,450.0
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SEL,SUV,4GT,A,96696.0,34,1.0,2017-01-02-00.00.00.000000,5177137.0,7100.0
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,SE,VAN,6G,A,92321.0,31,1.0,2017-01-02-00.00.00.000000,4925422.0,5800.0
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,SE,4DSN,4GT,A,70568.0,27,1.0,2017-01-02-00.00.00.000000,4925422.0,4500.0
4,AYCA,2009,BLUE,VOLKSWAGEN,ROUTAN,SE,VAN,6G,A,145625.0,NaN,1.0,2017-01-02-00.00.00.000000,5071209.0,2400.0

In [7]:
clean_df = df1.dropna(how='any')
clean_df.head()

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,sold_date,seller,sale_price
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SEL,SUV,4GT,A,96696.0,34,1.0,2017-01-02-00.00.00.000000,5177137.0,7100.0
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,SE,VAN,6G,A,92321.0,31,1.0,2017-01-02-00.00.00.000000,4925422.0,5800.0
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,SE,4DSN,4GT,A,70568.0,27,1.0,2017-01-02-00.00.00.000000,4925422.0,4500.0
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,LE,SUV,4GT,A,85124.0,38,6.0,2017-01-02-00.00.00.000000,5322633.0,8300.0
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,1.8T S,4DSN,4GT,A,16947.0,46,2.0,2017-01-02-00.00.00.000000,4905415.0,13800.0

In [8]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61251 entries, 1 to 79613
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   auction_code     61251 non-null  object
 1   car_year         61251 non-null  int64
 2   color            61251 non-null  object
 3   make             61251 non-null  object
 4   model            61251 non-null  object
 5   subseries        61251 non-null  object
 6   body             61251 non-null  object
 7   engine           61251 non-null  object
 8   transmission     61251 non-null  object
 9   mileage          61251 non-null  float64
 10  condition_grade  61251 non-null  object
 11  times_run        61251 non-null  float64
 12  sold_date        61251 non-null  object
 13  seller           61251 non-null  float64
 14  sale_price       61251 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 7.5+ MB

In [18]:
clean_df['formatted_sold_date'] = pd.to_datetime(clean_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
clean_df = clean_df.drop(columns=['sold_date'])
clean_df.head()
# clean_df['DOB'] = clean_df['sold_date'].dt.strftime('%m/%d/%Y')
# df['Col'] = df['Col'].dt.strftime('%d-%m%Y')

/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_3898/1854126862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['formatted_sold_date'] = pd.to_datetime(clean_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SEL,SUV,4GT,A,96696.0,34,1.0,5177137.0,7100.0,2017-01-02
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,SE,VAN,6G,A,92321.0,31,1.0,4925422.0,5800.0,2017-01-02
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,SE,4DSN,4GT,A,70568.0,27,1.0,4925422.0,4500.0,2017-01-02
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,LE,SUV,4GT,A,85124.0,38,6.0,5322633.0,8300.0,2017-01-02
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,1.8T S,4DSN,4GT,A,16947.0,46,2.0,4905415.0,13800.0,2017-01-02

In [4]:
def clean_data(df):
    new_df = df.dropna(how='any')
    new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
    cc_df = new_df.drop(columns=['sold_date'])

    return cc_df

In [10]:
clean_data(df1)
# for df in df_list:
#     clean_data(df)

/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_5516/1538750144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SEL,SUV,4GT,A,96696.0,34,1.0,5177137.0,7100.0,2017-01-02
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,SE,VAN,6G,A,92321.0,31,1.0,4925422.0,5800.0,2017-01-02
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,SE,4DSN,4GT,A,70568.0,27,1.0,4925422.0,4500.0,2017-01-02
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,LE,SUV,4GT,A,85124.0,38,6.0,5322633.0,8300.0,2017-01-02
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,1.8T S,4DSN,4GT,A,16947.0,46,2.0,4905415.0,13800.0,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79609,MAA,2017,RED,VOLKSWAGEN,GOLF,WOLFSBURG,4DHB,4GT,A,22279.0,28,1.0,4905414.0,13600.0,2019-06-28
79610,MAA,2015,WHITE,VOLKSWAGEN,JETTA,GLI SEL,4DSN,4GT,A,76514.0,21,1.0,4905415.0,3600.0,2019-06-28
79611,MAA,2017,BLACK,VOLKSWAGEN,PASSAT 4C,RLINE COMF,4DSN,4GT,A,24620.0,28,1.0,4905414.0,14400.0,2019-06-28
79612,MAA,2017,GREY,VOLKSWAGEN,JETTA,1.4T S,4DSN,4GT,A,42364.0,23,1.0,4919311.0,9700.0,2019-06-28
79613,SLAA,2011,BLUE,VOLKSWAGEN,JETTA 5C,SE,4DSN,5G,A,125802.0,20,2.0,5034660.0,3600.0,2019-06-30

In [8]:
df.head()

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,sold_date,seller,sale_price
0,AYCA,2008,BROWN,LEXUS,ES 350,NaN,4DSN,6G,A,62558,31,1,2017-01-02-00.00.00.000000,4925422,11400
1,AYCA,2006,WHITE,LEXUS,IS 250 4X2,NaN,4DSN,6G,A,191359,26,1,2017-01-02-00.00.00.000000,4925422,4400
2,AYCA,2015,WHITE,LEXUS,GX 460,NaN,SUV,8G,A,30787,42,1,2017-01-02-00.00.00.000000,4918814,37000
3,AAA,2014,WHITE,LEXUS,IS 250 4X2,NaN,4DSN,6G,A,37852,41,2,2017-01-02-00.00.00.000000,4905686,21100
4,AAA,2014,BLACK,LEXUS,GS 350 4X2,F SPORT,4DSN,6G,A,35508,34,7,2017-01-02-00.00.00.000000,4905686,26500