In [2]:
import pandas as pd

In [3]:
xls = pd.ExcelFile('Resources/Car_Data.xlsx')
df1 = pd.read_excel(xls, 'Volkswagon')
df2 = pd.read_excel(xls, 'Toyota')
df3 = pd.read_excel(xls, 'Porsche')
df4 = pd.read_excel(xls, 'Mercedes')
df5 = pd.read_excel(xls, 'Maserati')
df6 = pd.read_excel(xls, 'Lincoln')
df7 = pd.read_excel(xls, 'Lexus')
# df8 = pd.read_excel(xls, 'Kia')
# df9 = pd.read_excel(xls, 'Landrover')
# df10 = pd.read_excel(xls, 'Volkswagon')
# df11 = pd.read_excel(xls, 'Honda')
# df12 = pd.read_excel(xls, 'Hyundai')
# df13 = pd.read_excel(xls, 'Acura')
# df14 = pd.read_excel(xls, 'Audi')
# df15 = pd.read_excel(xls, 'BMW')

In [3]:
# df_list = [df1, df2, df3, df4, df5, df6, df7]

In [4]:
def clean_data(df):
    new_df = df.dropna(how='any')
    new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
    cc_df = new_df.drop(columns=['sold_date'])

    return cc_df

In [10]:
clean_df1 = clean_data(df1)
clean_df2 = clean_data(df2)
clean_df3 = clean_data(df3)
clean_df4 = clean_data(df4)
clean_df5 = clean_data(df5)
clean_df6 = clean_data(df6)
clean_df7 = clean_data(df7)
# for df in df_list:
#     clean_data(df)

/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_6118/1538750144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_6118/1538750144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_6118/1538750144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_6118/1538750144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_6118/1538750144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_6118/1538750144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_6118/1538750144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')

In [11]:
clean_df1.head()

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SEL,SUV,4GT,A,96696.0,34,1.0,5177137.0,7100.0,2017-01-02
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,SE,VAN,6G,A,92321.0,31,1.0,4925422.0,5800.0,2017-01-02
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,SE,4DSN,4GT,A,70568.0,27,1.0,4925422.0,4500.0,2017-01-02
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,LE,SUV,4GT,A,85124.0,38,6.0,5322633.0,8300.0,2017-01-02
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,1.8T S,4DSN,4GT,A,16947.0,46,2.0,4905415.0,13800.0,2017-01-02