In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
import numpy as np

In [2]:
xls = pd.ExcelFile('Resources/Car_Data.xlsx')
df1 = pd.read_excel(xls, 'Volkswagon')
df2 = pd.read_excel(xls, 'Toyota')
df3 = pd.read_excel(xls, 'Porsche')
df4 = pd.read_excel(xls, 'Mercedes')
df5 = pd.read_excel(xls, 'Maserati')
df6 = pd.read_excel(xls, 'Lincoln')
df7 = pd.read_excel(xls, 'Lexus')
# df8 = pd.read_excel(xls, 'Kia')
# df9 = pd.read_excel(xls, 'Landrover')
# df10 = pd.read_excel(xls, 'Volkswagon')
# df11 = pd.read_excel(xls, 'Honda')
# df12 = pd.read_excel(xls, 'Hyundai')
# df13 = pd.read_excel(xls, 'Acura')
# df14 = pd.read_excel(xls, 'Audi')
# df15 = pd.read_excel(xls, 'BMW')

In [ ]:
# df_list = [df1, df2, df3, df4, df5, df6, df7]

In [3]:
def clean_data(df):
    new_df = df.dropna(how='any')
    new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
    cc_df = new_df.drop(columns=['sold_date'])
    cc_df['condition_grade'] = cc_df['condition_grade'].replace(
    {'SL': 0, 'RG': 20, 'PR': 10, 'EC':50, 'CL':40, 'C': 40, 'AV':30, 'A': 30})

    return cc_df

In [4]:
clean_df1 = clean_data(df1)
clean_df2 = clean_data(df2)
clean_df3 = clean_data(df3)
clean_df4 = clean_data(df4)
clean_df5 = clean_data(df5)
clean_df6 = clean_data(df6)
clean_df7 = clean_data(df7)
# for df in df_list:
#     clean_data(df)

/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_13176/2647848785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_13176/2647848785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_13176/2647848785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_13176/2647848785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_13176/2647848785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_13176/2647848785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_13176/2647848785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')

In [5]:
clean_df1.head()

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SEL,SUV,4GT,A,96696.0,34,1.0,5177137.0,7100.0,2017-01-02
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,SE,VAN,6G,A,92321.0,31,1.0,4925422.0,5800.0,2017-01-02
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,SE,4DSN,4GT,A,70568.0,27,1.0,4925422.0,4500.0,2017-01-02
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,LE,SUV,4GT,A,85124.0,38,6.0,5322633.0,8300.0,2017-01-02
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,1.8T S,4DSN,4GT,A,16947.0,46,2.0,4905415.0,13800.0,2017-01-02

In [6]:
print(f"Duplicate entries 1: {clean_df1.duplicated().sum()}")
print(f"Duplicate entries 2: {clean_df2.duplicated().sum()}")
print(f"Duplicate entries 3: {clean_df3.duplicated().sum()}")
print(f"Duplicate entries 4: {clean_df4.duplicated().sum()}")
print(f"Duplicate entries 5: {clean_df5.duplicated().sum()}")
print(f"Duplicate entries 6: {clean_df6.duplicated().sum()}")
print(f"Duplicate entries 7: {clean_df7.duplicated().sum()}")

Duplicate entries 1: 0
Duplicate entries 2: 0
Duplicate entries 3: 0
Duplicate entries 4: 0
Duplicate entries 5: 0
Duplicate entries 6: 1
Duplicate entries 7: 0

In [7]:
no_dups_df6 = clean_df6.drop_duplicates()
print(f"Duplicate entries 6: {no_dups_df6.duplicated().sum()}")

Duplicate entries 6: 0

In [8]:
clean_df7['condition_grade'].value_counts()

37    764
42    724
41    685
43    684
46    663
44    663
45    656
36    649
39    592
40    577
38    575
35    573
28    409
34    397
29    357
50    340
27    310
33    282
26    279
32    245
48    245
25    242
31    240
47    227
24    223
30    213
49    183
21    150
23    148
20    133
22    113
19     94
17     76
13     74
18     68
16     50
10     45
15     36
14     29
0       7
12      1
11      1
Name: condition_grade, dtype: int64

In [9]:
clean_df1.dtypes

auction_code                   object
car_year                        int64
color                          object
make                           object
model                          object
subseries                      object
body                           object
engine                         object
transmission                   object
mileage                       float64
condition_grade                 int64
times_run                     float64
seller                        float64
sale_price                    float64
formatted_sold_date    datetime64[ns]
dtype: object

In [10]:
# write out csv's to output folder
clean_df1.to_csv('Output/Volkswagon.csv', index=False, header=True)
clean_df2.to_csv('Output/Toyota.csv', index=False, header=True)
clean_df3.to_csv('Output/Porsche.csv', index=False, header=True)
clean_df4.to_csv('Output/Mercedes.csv', index=False, header=True)
clean_df5.to_csv('Output/Maserati.csv', index=False, header=True)
clean_df6.to_csv('Output/Lincoln.csv', index=False, header=True)
clean_df7.to_csv('Output/Lexus.csv', index=False, header=True)

In [ ]:
df1_dummies = pd.get_dummies(clean_df1)
df2_dummies = pd.get_dummies(clean_df2)
df3_dummies = pd.get_dummies(clean_df3)
df4_dummies = pd.get_dummies(clean_df4)
df5_dummies = pd.get_dummies(clean_df5)
df6_dummies = pd.get_dummies(clean_df6)
df7_dummies = pd.get_dummies(clean_df7)

In [ ]:
# Drop the label to create the X data
X_1 = df1_dummies.drop('sale_price', axis=1)
X_2 = df2_dummies.drop('sale_price', axis=1)
X_3 = df3_dummies.drop('sale_price', axis=1)
X_4 = df4_dummies.drop('sale_price', axis=1)
X_5 = df5_dummies.drop('sale_price', axis=1)
X_6 = df6_dummies.drop('sale_price', axis=1)
X_7 = df7_dummies.drop('sale_price', axis=1)

In [ ]:
y_1 = df1_dummies["sale_price"]
y_2 = df2_dummies["sale_price"]
y_3 = df3_dummies["sale_price"]
y_4 = df4_dummies["sale_price"]
y_5 = df5_dummies["sale_price"]
y_6 = df6_dummies["sale_price"]
y_7 = df7_dummies["sale_price"]

In [ ]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_1, y_1, random_state=1)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_2, y_2, random_state=1)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X_3, y_3, random_state=1)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X_4, y_4, random_state=1)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X_5, y_5, random_state=1)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X_6, y_6, random_state=1)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X_7, y_7, random_state=1)

In [ ]:
# Scaling the X data by using StandardScaler()
scaler1 = StandardScaler().fit(X_train1)
X_train_scaled1 = scaler.transform(X_train1)
X_train_scaled1

In [ ]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_shopping[['Age', 'Annual Income', 'Spending Score (1-100)']])